* {
    margin: 0;
    padding:  0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: rgba(173, 233, 233, 0.479);
    height: 80px;
}

h1 {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

header ul {
    float: right;
    list-style-type: none;
    margin-top: 20px;
    margin-right: 10px;
}

header li {
    float: left;
}

header li a {
    line-height: 40px;
    display: block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

header li a:hover {
    background-color: rgb(159, 235, 235);
    color: white;
}
.clear {
    clear: both;
}
#low-weigth {
    font-weight: 400;
}


/** configurando po body **/

#sec-1 {
    width: 100%px;
    height: 550px;
    background: url(background-image.png) no-repeat;
    background-attachment: fixed;
}

#texto-chamativo {
    width: 500px;
    margin-top: 140px;
    margin-left: 100px;
    position: absolute;
}

#texto-chamativo h2 {
    font-size: 3.5em;
}

#texto-chamativo span {
    display: block;
}

#texto-chamativo a {
    background-color: rgba(104, 197, 11, 0.973);
    padding: 15px;
    margin-top: 15px;
    position: absolute;
    border-radius: 15px;
    color: black;
    text-decoration: none;
}
#texto-chamativo a:hover {
    background-color: chartreuse;
    color: #fff;
}
/** Parte 2 **/

#blog-posts {
    height: 650px;
    
    width: 100%;
}
#iframe {
    margin-top: 50px;
}
iframe {
    display: block;
    margin:auto;
}
.cab {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;

}
.cab a {
    text-decoration: none;
    padding-right: 10px;
    font-weight: bold;
    color: black;
}
.cab a:hover {
    color: chartreuse;
}